#header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title{
    padding: 0;
    margin: 0;
   
}
#categories{
    
    margin: 0;
    margin-top: 10px;
    list-style: none;
    gap: 30px;
    display: flex;
    
}
#categories li{
    display: block;
    cursor: pointer;
}
#categories li:hover{
    color: red;
}
