*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

header{
    display: flex;
    background-color: rgb(28, 28, 28);
    min-height: 60px;
    color: grey;
    align-items: center;
}
#headh{
    font-size: 30px;
    margin-left: 60px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    margin-top: 40px;
    min-width: 600px;
}

#mainol{
    font-weight:lighter;
    font-size: 30px;

}

.inputform{
    width: 100%;
    display: flex;
}
#maininput{
    width:70%;
    flex: 1;
    display: flex;
    padding: 5px 0 5px 10px;
    border-radius: 6px;
    border: 1px solid lightgrey;
}

#mainbutton{
    max-width: 30%;
    min-width: 90px;
    min-height: 50px;
    margin-left: 10px;
    border: 1px solid rgb(15, 111, 229);
    background-color: rgb(15, 111, 229);
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

#mainbutton:hover{
     background-color: rgb(33, 126, 240);
}

#mainul{
     width: 100%;
     margin-top: 30px ;
     border-radius: 4px;


}

li {
    display: flex;
    align-items: center;
    min-height: 40px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid lightgrey;
    margin: 10px 0;
}

.checking{
    height: 20px;
    width: 20px;
    accent-color: aqua;
}


.listtext{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    flex: 1; 
    margin: 0 10px;
    
}
.deletion{
  border: none;
  color:red;
}