#product-card {
  background-color: #f5f5f5;}
.card {
  border-radius: 14px;
  padding: 15px;
  background: red;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.main-img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.thumbs {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 8px 0;
}

.thumbs img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: cover;
  border-radius: 6px;
}

.desc {
  font-size: 14px;
  color: #555;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.rating {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.buttons a,
.buttons button {
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  background: #e50526;
  color: white;
}

.buttons button:hover,
.buttons a:hover {
  opacity: 0.9;
}

#delete{
  background-color: red;
  border:none;
  padding: 10px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  margin-top:5px;
  cursor: pointer;
  display: flex;
  
}

#delete:hover{
  background-color: #f29090;
}